body { 
    background-image: url(../../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100% 100%;
}

h1 {
	padding: 6% 0 2% 0;
	margin: 0;
	color: white;
	font-weight: 700;
}

h2 {
	padding: 2% 0;
	margin:auto;
	color: white;
	font-weight: 400;
}

.hidden { 
	display: none; 
}

.char-img {
	position: relative;
	width: 150px;
	border: 4px groove limegreen;
	overflow: auto;
}

.char-text {
	position: absolute;
	color: white;
	bottom: 20px;
	width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
}

/*.char {
	position: relative;
}

.char h3 {
	position: absolute;
	color: white;
	bottom: 20px;
	width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
}*/