body { 
    background-image: url(../../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100% 100%;
}

h1 {
	padding: 6% 0 2% 0;
	margin: 0;
	color: white;
	font-weight: 700;
}

h2 {
	padding: 2% 0;
	margin:auto;
	color: white;
	font-weight: 400;
}

img {
	width: 150px;
	margin: 5%;
}

#attack-button {
	margin-top: 35%;
	padding: 10px;
	font-size: 150%;
	font-weight: 300;
}

.hidden { 
	display: none; 
}

.you {
	margin: auto;
}

.fighting {
	margin: auto;
}

.char-img {
	margin: auto;
	position: relative;
	float: left;
	width: 150px;
	border: 4px groove limegreen;
	overflow: auto;
}

.char-text {
	position: absolute;
	margin: auto;
	left:20%;
	color: white;
	background-color: darkgrey;
	bottom: 20px;
	text-align: center;
    font-weight: 300;
    line-height: 30px;
    width: 50%;
}